body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #222;
  color: #fff;
}

.App {
  text-align: center;
}
 
.header {
  padding: 20px;
  background: #252525;
  border-bottom: 1px solid #444;
}

.users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 80vh;
}

.instructions {
  padding: 10px;
  min-height: 50px;
  width: 100%;
}

.users-div {
  padding: 10px;
}

.user-btn-div {
  border: inset 3px #444;
}

.user-btn {
  width: 50px;
  height: 50px;
  padding: 10px;
  background: #626262;
  border: 1px solid #444;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.user-btn:hover {
  background: #333;
  transition: .5s;
}

.user-btn:active {
  background: #222;
  transition: .5s;
  border-style: outset;
}

.user-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-card {
  width: 300px;
  height: 500px;
  padding: 10px;
  background: #e4e4e421;
  border: 1px solid #444;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.user-image {
  width: 270px;
  height: 270px;
  /* background: #444; */
  /* border: 1px solid #444; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image > img {
  width: 80%;
  height: 80%;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  border: 1px solid #444;
}

.user-details {
  width: 270px;
  height: 200px;
  /* background: #444; */
  /* border: 1px solid #444; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.987);
  position: relative;
}